<br><br><hr><br> 
 <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            
            <!-- This is the circles -->
        <div class="container">
    
      <div class="spinner-grow text-muted"></div>
      <div class="spinner-grow text-primary"></div>
      <div class="spinner-grow text-success"></div>
      <div class="spinner-grow text-info"></div>
      <div class="spinner-grow text-warning"></div>
      <div class="spinner-grow text-danger"></div>
      <div class="spinner-grow text-secondary"></div>
      <div class="spinner-grow text-dark"></div>
      <div class="spinner-grow text-light"></div>
    </div>
            
    </footer>
        <!-- closing footer -->
     