<% include partials/header.ejs %>


<!--
first homework
-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->


    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>

        
        <main>
            
            <figure>
                <img style= "border-radius:20px" src="img/c++.png" width="300" class ="w3-hover-sepia" alt ="Programming Languages"/>
            </figure>
            
             
            
             <!-- code below is the writting for the paragraphs -->
            <div id = "welcomeText">
               
                <p> C++ programming languagegoes back to 1979. Bjarne Stroustrup was working in his Ph.D thesis.
                He began working on "C with Classes", His goal was to add object-oriented programming into the C language.
                In 1983, the name of the language was changed from C with Classes to C++.In 1985, Stroustrup's reference to the language entitled The C++ Programming Language was published. 
                In 1990, The Annotated C++ Reference Manual was released. In 1998, the C++ standards committee published the first international standard for C++ ISO/IEC 14882:1998, which would be informally known as C++98. 
                In 2005, the C++ standards committee released a technical report (dubbed TR1) detailing various features they were planning to add to the latest C++ standard. 
                In mid-2011, the new C++ standard (dubbed C++11) was finished. </p>
               
                
             <!-- This creates a link to click -->
            <p><b><a href= "http://www.trytoprogram.com/cplusplus-programming/history/"> History </a></b></p>
                
            <!-- video link -->
            <embed src="https://www.youtube.com/embed/vLnPwxZdW4Y" allowfullscreen="true" width="300" height="200">   
                
                
            </div>
            
        </main>
        
       <br /><br />
       
         <hr />
         
        <!-- This is the footer -->
   <% include partials/footer.ejs %>
    </body>
    <!-- closing body -->

</html>