<% include partials/header.ejs %>
</head>
<body>
   <!-- body with nav was -->
        <!-- br is for space -->
        <br /><br />
        
        <main>
               <!-- image below -->
            
            <figure>
                <img style= "border-radius:20px" src="img/home.jpg" width="400" class ="w3-hover-sepia" alt ="Programming Languages"/>
            </figure>
             <!-- code below is the writting  -->
            
        <div id = "welcomeText">
               
                <p>Programming skills are in high demand. Learning a programming language can also help employees break into in-demand fields like software engineering or web development. 
                What is the best programming language to learn?
                There are two categories of programming languages: high-level programming languages and low-level programming languages.
                This web page will give you details about the most popular programming languages. </p>
              
                          <!-- code below is the list -->
                
                <h2><u>Popular Programming Languages</u></h2>
                  <p>Phyton</p>
                  <p>Php</p>
                  <p>JavaScript<p>
                  <p>Ruby</p>
                  <p>Perl</p>
                  <p>SQL</p>
                
             <!-- This creates a link to click -->
            <p><b><a href= "https://www.khanacademy.org/computing/computer-programming"> Learn Programming Languages! </a></b></p>
            
        
            </div>  
        </main>
        <hr />
          <!-- new way to put footer -->
        
               <% include partials/footer.ejs %>
               <p>Need a tutor?: </p>
               <%= faker.internet.email()%>
               
               
    </body>
    <!-- closing body -->
</html>