<% include partials/header.ejs %>

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        
        
        <main>
            
            <figure>
                <img style= "border-radius:20px" src="img/html.png" width="300" class ="w3-hover-sepia" alt ="Programming Languages"/>
            </figure>
            
             
             <!-- code below is the writting  -->
            
            <div id = "welcomeText">
               
                <p> HTML stands for Hyper Text Markup Language.HTML was created by Sir Tim Berners-Lee in late 1991 but was not released officially, 
                which was published in 1995 as HTML 2.0. HTML 4.01 was published in late 1999 and was a major version of HTML.
                HTML 1.0 was released in 1993, its intentions were to share information which can be readable and accessible via web.
                Then comes the HTML 2.0, published in 1995. Then comes the HTML 3.0, where Dave Raggett, he introduced new features which slowed the
                HTML browser. Then comes the HTML 4.01 which is widely used and was a successful version of HTML before HTML 5.0.
                </p>
                
               
                
             <!-- This creates a link to click -->
            <p><b><a href= "https://www.w3.org/People/Raggett/book4/ch02.html"> Histroy </a></b></p>
                
                 <!-- video link -->
            <embed src="https://www.youtube.com/embed/pQN-pnXPaVg" allowfullscreen="true" width="300" height="200">
                
            </div>
            
        </main>
        
        <br /><br />
       
        <hr />
         
        <!-- This is the footer -->
  <% include partials/footer.ejs %>
     
    </body>
    <!-- closing body -->

</html>