<% include partials/header.ejs %>


    <body>
        
        
        
        <main>
            
            <figure>
                <img style= "border-radius:20px" src="img/java.png" width="300" class ="w3-hover-sepia" alt ="Programming Languages"/>
            </figure>
            
             
             <!-- code below is the writting  -->
            
            <div id = "welcomeText">
               
                <p> Java was developed in 1991 by James Gosling. The first version was aimed at programming home appliances which are controlled by
                a wide variety of computer processors. In 1994, he realized that such a language would be ideal for use with web browsers and Java's 
                connection to the internet began.  In 1995, Netscape Incorporated released its latest version of the Netscape browser which was capable of running Java programs.
                The original name of this language was Oak, until it was discovered that a programming language already existed that was named Oak.  
                It is in reality a general all purpose language which can be used independent of the Internet.
                </p>
               
                
             <!-- This creates a link to click -->
            <p><b><a href= "https://www.oracle.com/technetwork/java/javase/overview/javahistory-index-198355.html"> History </a></b></p>
                
                  <!-- video link -->
            <embed src="https://www.youtube.com/embed/grEKMHGYyns" allowfullscreen="true" width="300" height="200">       
               
            </div>
            
        </main>
        
       <br /><br />
       
         <hr />
         
        <!-- This is the footer -->
  <% include partials/footer.ejs %>
     
    </body>
    <!-- closing body -->

</html>