#welcomeText
{
    color:white;
}
main
{
    display: flex;
    justify-content:center;
}
body
{
    background-image: url("https://images.assetsdelivery.com/compings_v2/roystudio/roystudio1509/roystudio150900186.jpg");
    text-align: center;
}
header
{
    text-align:center;
}
main
{
    text-align:center;
}
nav
{
    text-align:center;
}
footer
{
    text-align:center;
}
h1
{
    font-family: 'Indie Flower', cursive;
    font-size:4em;
    margin-bottom:0px;
    color: yellow;
}
h2
{
    color:yellow;
}
h5
{
    color:red;
}
nav
{
    word-spacing:150px;
}
nav .current
{
    background-color: yellow;
}

nav a
{ /*links within "nav" container */
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
}

nav a:hover 
{ /*pseudo class*/
    border-bottom:2px orange solid; /*line under word*/
    font-size: 2em;
  /*  transition: .9s; /*transition effect(make letters slowly bigger*/ 
}
        /* code below is for the links*/
a:link 
{
    background-color: cyan;
}
        
a:hover 
{
    background-color: #ffc34d;
}
strong
{
    color:lightgreen;
}
.container
{
    text-align: center;
}
