body
{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v627-aew-11-technologybackground_1.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=a3c7a8aca6749225df8928467df34373");
    text-align: center;
}
header,main,nav,footer
{
    text-align:center;
}
h1
{
    font-family: 'Indie Flower', cursive;
    font-size:4em;
    margin-bottom:0px;
    color: yellow;
}
h2{
    color:red;
}
li{
    color:pink;
}

nav{
    word-spacing:55px;
}

nav a
{ /*links within "nav" container */
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration:none; /*removes undeline*/
            
         /*by default,links are blue*/
            
}
nav a:hover 
{ /*pseudo class*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s; /*transition effect*/
}
        /* code below is for the links*/
a:link 
{
    background-color: yellow;
}
        
a:visited 
{
    background-color: cyan;
}
        
a:hover 
{
    background-color: lightgreen;
}
        
a:active 
{
    background-color: hotpink;
        } 
#welcomeText
{
    color:white;
}
main
{
    display: flex;
    justify-content:center;
}
